extends ./layout.pug
block content

	.container 
		section#homepage
			h1 Audit for #{audit.company_name}
			.theBox
				p You Have 6 Recommended Improvements
			p.desc Stop loosing search engine traffic to your competitors by fixing these issues &amp; improving your site's score.
			.row
				.col-sm-4
					.website-summary
						#screenshots
							img(src="/static/img/screenshot.png")
							img(src=`${audit.screenshot}`)
						a(href=`${audit.company_website}`)
							p #{audit.company_website}
						h3 Your Score
							span #{score}%
						h4 Competitors Average Score 
							span #{competitorAvg}%
						//- a(href="") View more Details
						//- 	span.glyphicon.glyphicon-chevron-down
						ul.list
							each competitor in competitors
								li #{competitor.company_name}
									span.score #{competitor.score}%

						h4 Search Engine Traffic
							span #{searchVolume}&nbsp;
								span / month
						ul.list
							li
								span.glyphicon.glyphicon-new-window &nbsp;
								a(href="https://adwords.google.com/KeywordPlanner") Search volume provided by Google Keyword Planner
						ul.user_nav.list
							li.btn-demo
								p Stop loosing search engine traffic to your competitors by fixing these issues &amp; improving your site's score.
								a(href="") Get More Clients Today
				.col-sm-8
					.mainsection
						.tbl_container
							h2 Attract
							table.auditTable
								- var attIndex = 0;
								while attIndex < 4

									if audit.tests[attIndex] == 'checked'
										tr
											td.glyphicon.glyphicon-ok
											td #{tests[attIndex].short}											
									else
										tr
											td.glyphicon.glyphicon-remove
											td #{tests[attIndex].short}

									- attIndex++
						.tbl_container
							h2 Engage
							table.auditTable
								- var engIndex = 4;
								while engIndex < 12

									if audit.tests[engIndex] == 'checked'
										tr
											td.glyphicon.glyphicon-ok
											td #{tests[engIndex].short}
									else
										tr
											td.glyphicon.glyphicon-remove
											td #{tests[engIndex].short}

									- engIndex++
						.tbl_container
							h2 Convert
							table.auditTable
								- var conIndex = 12;
								while conIndex < 20

									if audit.tests[conIndex] == 'checked'
										tr
											td.glyphicon.glyphicon-ok
											td #{tests[conIndex].short}
									else
										tr
											td.glyphicon.glyphicon-remove
											td #{tests[conIndex].short}

									- conIndex++

						h2 What this website is missing

						each testResult, index in audit.tests
							if testResult != 'checked'
								.failedTest
									h3 #{tests[index].short}
									.helpBox
										span.glyphicon.glyphicon-remove
										p This website does not #{tests[index].question}
									img(src=`${tests[index].helpImg}`)
									h4 Recommendations
									p #{tests[index].help}
									hr