extends ./layout.pug
block content

	.container 
		section#homepage
			
			.row
				.col-sm-4
					.website-summary
						#screenshots
							img(src="/static/img/screenshot.png")
							img(src=`${audit.screenshot}`)
						a(href=`${audit.company_website}`)
							p #{audit.company_website}
						h3 Your Score
							span #{score}%
						h4 Competitors' Average Score
							span #{competitorAvg}%
						//- a(href="") View more Details
						//- 	span.glyphicon.glyphicon-chevron-down
						ul.list
							each competitor in competitors
								li #{competitor.company_name}
									span.score #{competitor.score}%

						h4 Search Engine Traffic
							span #{searchVolume}&nbsp;
								span / month
						ul.list
							li
								span.glyphicon.glyphicon-new-window &nbsp;
								a(href="https://adwords.google.com/KeywordPlanner") Search volume provided by Google Keyword Planner
						ul.user_nav.list
							li.btn-demo
								p Stop loosing search engine traffic to your competitors by fixing these issues &amp; improving your site's score.
								a(href="") Get More Clients Today
				.col-sm-8
					.mainsection
						h1 Audit for #{audit.company_name}
						.theBox
							p You Have #{failedCount} Recommended Improvement(s)
						p.desc Stop loosing search engine traffic to your competitors by fixing these issues &amp; improving your site's score.
						.btn-demo.auto-btn
							a(href="") Get More Clients Today
						.tbl_container
							h2 Attract
							table.auditTable
								- var attIndex = 0;
								while attIndex < 4

									if audit.tests[attIndex] == 'checked'
										tr
											td.glyphicon.glyphicon-ok
											td #{tests[attIndex].short}											
									else
										tr
											td.glyphicon.glyphicon-remove
											td #{tests[attIndex].short}

									- attIndex++
						.tbl_container
							h2 Engage
							table.auditTable
								- var engIndex = 4;
								while engIndex < 12

									if audit.tests[engIndex] == 'checked'
										tr
											td.glyphicon.glyphicon-ok
											td #{tests[engIndex].short}
									else
										tr
											td.glyphicon.glyphicon-remove
											td #{tests[engIndex].short}

									- engIndex++
						.tbl_container
							h2 Convert
							table.auditTable
								- var conIndex = 12;
								while conIndex < 20

									if audit.tests[conIndex] == 'checked'
										tr
											td.glyphicon.glyphicon-ok
											td #{tests[conIndex].short}
									else
										tr
											td.glyphicon.glyphicon-remove
											td #{tests[conIndex].short}

									- conIndex++

						h2.h2Style Recommended Improvements for #{audit.company_name}

						each testResult, index in audit.tests
							if testResult != 'checked'
								.failedTest
									//- h3 #{tests[index].short}
									//- .helpBox
									//- 	span.glyphicon.glyphicon-remove
									//- 	p This website does not #{tests[index].question}
									//- img(src=`${tests[index].helpImg}`)
									//- h4 Recommendations
									//- p #{tests[index].help}
									h3 #{tests[index]}
									hr

	.su_modal
		.box
			span.popdownx x
			h3 Lets Talk About Your New Website
			.description
				p Ready to work on your website’s problem areas &amp; generate more clients online?
				p Or simply need a little more help understanding your audit?
				p Fill out the form letting us know how best to contact you &amp; one of our team will get in touch.
			img(src="/static/img/website_img.png")
			.theForm
				.btn.btnPhone.selected_btn Phone
				.btn.btnEmail Email
				input(type="text", placeholder="Name...")#q_name
				.phoneBox
					input(type="text", placeholder="Phone Number...")#q_phone
				.emailBox
					input(type="email", placeholder="Email...")#q_email
				.btn#send_request(data-company=`${audit.company_name}`) Send
				.spin
				span.errorMsg